@font-face {
    font-family: 'alkren';
    src:
        url('/fonts/alkren.ttf') format('truetype'),
        url('/fonts/alkren.woff') format('woff'),
        url('/fonts/alkren.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.index-editor-K84 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 960px;
    margin: 50px auto;
    padding: 25px;
    font-size: 18px;
}




.index-toolbar-Sqn i {
    font-family: 'alkren' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.index-bold-2Ey:before {
    content: "\E238";
}
.index-italic-1hW:before {
    content: "\E23F";
}
.index-unordered-list-2cx:before {
    content: "\E241";
}
.index-ordered-list-YZt:before {
    content: "\E242";
}
.index-quote-Hxk:before {
    content: "\E244";
}
.index-photo-1vz:before {
    content: "\E432";
}
.index-menu-3WM:before {
    content: "\E8FE";
}

.index-editor-K84 .index-paragraph-1qe {
    margin-bottom: 2.5rem;
}

.index-editor-K84 blockquote {
    margin-left: 0px;
    padding-left: 21px;
    border-left: 3px solid #444;
}

.index-editor-K84 img {
    max-width: 100%;
}

.index-toolbar-Sqn {
    position: absolute;
    z-index: 9999;
    height: 35px;
    cursor: default;
}

.index-toolbar-Sqn.index-side-1xv {
    top: -32px;
    left: -48px;
}

.index-toolbar-Sqn.index-image-2Tu {
    top: 7px;
    left: 50%;
    height: 40px;
    margin-left: -50px;
}
.index-toolbar-Sqn.index-image-2Tu .index-toolbar-icons-1jA .index-toolbar-icon-1eH {
    width: 40px;
    max-width: 40px;
}
.index-toolbar-Sqn.index-image-2Tu .index-toolbar-icons-1jA .index-toolbar-icon-1eH i {
    font-size: 2.3rem;
}
.index-toolbar-Sqn .index-toolbar-icons-1jA {
    position: absolute;
    z-index: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f5f5f5 0%, #ededed 100%);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0 0 25px -4px rgba(0, 0, 0, 0.25);
}

.index-toolbar-Sqn .index-toolbar-icons-1jA .index-toolbar-icon-1eH {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    width: 35px;
    max-width: 35px;
    color: #444;
    font-family: 'Roboto';
    font-size: 1.4rem;
    border-bottom: 3px solid #444;
    transition: all 0.15s linear;
    cursor: pointer;
}

.index-toolbar-Sqn .index-toolbar-icons-1jA .index-toolbar-icon-1eH:first-child {
    border-bottom-left-radius: 3px;
}

.index-toolbar-Sqn .index-toolbar-icons-1jA .index-toolbar-icon-1eH:last-child {
    border-bottom-right-radius: 3px;
}

.index-toolbar-Sqn .index-toolbar-icons-1jA .index-toolbar-icon-1eH:hover,
.index-toolbar-Sqn .index-toolbar-icons-1jA .index-toolbar-icon-1eH.index-active-oOK {
    color: #c95339;
    border-color: #c95339;
}

.index-toolbar-Sqn .index-toolbar-icons-1jA .index-toolbar-icon-1eH:hover i,
.index-toolbar-Sqn .index-toolbar-icons-1jA .index-toolbar-icon-1eH.index-active-oOK i {
    color: #c95339;
}

.index-toolbar-Sqn .index-toolbar-icons-1jA .index-toolbar-icon-1eH i {
    margin: 0;
    padding: 0;
    color: #444;
    font-size: 1.8rem;
}

.index-toolbar-Sqn .index-toolbar-icons-1jA:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    border-top: 5px solid #444;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.index-side-toolbar-vCt {
    position: absolute;
    top: 25px;
    right: 0;
    bottom: 0;
    left: -50px;
    width: 70px;
}

.index-side-toolbar-vCt i {
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.2);
    font-size: 20px;
    cursor: pointer;
    vertical-align: middle;
}

.index-side-toolbar-vCt i.index-a-menu-3zT {
    font-size: 22px;
}
/*# sourceMappingURL=bundle.css.map*/