@import './../../../colors.scss';

$button-size: 32px;
$field-color: $color_grey_50;
$side-color: $color_grey_100;
$button-color: $color_grey_200;
$button-selected-color: $color_blue_grey_200;
$button-disabled-color: $color_grey_500;
$block-padding: 20px;
$input-margin: 2px;
$blur-input-background: $color_grey_300;
$focus-input-background: $color_grey_50;

.editor {
    min-width: 600px;
    padding: 0 0 0 calc($button-size * 2);
    
    font-size: 18px;

    background: $side-color;

    > div {
        background: $field-color;
    }

    .selectionToolbar {
        position: absolute;
        z-index: 9999;
        cursor: default;
        background: $button-color;

        .toolbarButton {
            height: $button-size;
            width: $button-size;
            max-width: $button-size;

            background: $button-color;

            i {
                font-size: $button-size;
            }
        }

        .selectedToolbarButton {
            background: $button-selected-color;
        }

        .disabledToolbarButton {
            background: $button-disabled-color;
        }

        .actionInput {
            float: left;
            
            height: calc($button-size - 2 * $input-margin);
            margin: $input-margin;
            padding: 0 calc($block-padding / 2);

            border: 0;
            background: $blur-input-background;

            &:focus {
                outline: none;
                background: $focus-input-background; 
            }
        }
    }

    .blockToolbar {
        position: absolute;
        cursor: default;

        background: $button-color;

        .toolbarIcon {
            font-size: $button-size;
        }

        .toolbarButton {
            height: $button-size;
            width: $button-size;

            text-align: center;
            line-height: $button-size;

            background: $button-color;

            i {
                font-size: $button-size;
            }
        }

        .selectedToolbarButton {
            background: $button-selected-color;
        }

        .expandBox {
            position: absolute;

            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;

            width: calc($button-size * 2);

            background: $button-color;
        }

        .highlighted {
            background: $button-selected-color;
        }
    }

    .hidden {
        visibility: hidden;
    }

    div[data-block="true"], h1[data-block="true"], h2[data-block="true"], ul[data-block="true"] {
        margin: 0;
        padding: $block-padding;
    }

    blockquote[data-block="true"] {
        margin: 0 0 0 $block-padding;
        padding: $block-padding;

        border-left: 3px solid $color_blue_grey_700;

        &:before {
            content: '“';
            position: absolute;
            left: 0;
            margin-top: -1em;
        }

        &:after {
            content: '”';
            position: absolute;
            left: 0;
            margin-left: 0;
        }
    }
}
