@import './variables.scss';

.editor {
    min-width: 600px;
    padding: 0 0 0 calc($button-size * 2);
    
    font-size: 18px;

    background: $side-color;

    > div {
        background: $field-color;
    }

    div[data-block="true"], h1[data-block="true"], h2[data-block="true"], ul[data-block="true"] {
        margin: 0;
        padding: $block-padding;
    }

    blockquote[data-block="true"] {
        margin: 0 0 0 $block-padding;
        padding: $block-padding;

        border-left: 3px solid $color_blue_grey_700;

        &:before {
            content: '“';
            position: absolute;
            left: 0;
            margin-top: -1em;
        }

        &:after {
            content: '”';
            position: absolute;
            left: 0;
            margin-left: 0;
        }
    }
}
