@import './../../../colors.scss';

$button-size: 32px;
$field-color: $color_grey_50;
$side-color: $color_grey_100;
$button-color: $color_grey_200;
$button-selected-color: $color_blue_grey_200;
$button-disabled-color: $color_grey_500;
$block-padding: 20px;
$input-margin: 2px;
$blur-input-background: $color_grey_300;
$focus-input-background: $color_grey_50;
