@import './../../colors.scss';

$button-size: 32px;
$field-color: $color_grey_50;
$side-color: $color_grey_100;
$button-color: $color_grey_200;

:local .editor {
    min-width: 600px;
    padding: 0 0 0 calc($button-size * 2);
    
    font-size: 18px;

    background: $side-color;

    > div {
        background: $field-color;
    }

    :local .selectionToolbar {
        position: absolute;
        z-index: 9999;
        cursor: default;

        :local .toolbarButton {
            height: $button-size;
            width: $button-size;

            background: $button-color;

            i {
                font-size: $button-size;
            }
        }

        :local .selectedToolbarButton {
            background: $button-color;
        }
    }

    :local .blockToolbar {
        position: absolute;
        cursor: default;

        background: $button-color;

        :local .toolbarIcon {
            font-size: $button-size;
        }

        :local .toolbarButton {
            height: $button-size;
            width: $button-size;

            background: $button-color;

            i {
                font-size: $button-size;
            }
        }

        :local .expandBox {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;

            width: calc($button-size * 2);

        }
    }

    div[data-block="true"] {
        padding: 20px;
    }
}
