@import './../../colors.scss';

:local .editor {
    min-width: 600px;
    margin: 20px;
    background: $color_grey_50;
    padding: 20px;
    font-size: 18px;
}

:local .selectionToolbar {
    position: absolute;
    z-index: 9999;
    cursor: default;
    background: $color_grey_300;
}

:local .toolbarButton {
    margin: 5px;
    background: $color_grey_200;
}

:local .toolbarButton:not(:first-child) {
    margin-left: 0;
}

:local .selectedToolbarButton {
    background: $color_blue_grey_200;
}
